<template>
    <div>
        <v-app-bar :clipped-left="clipped" fixed app>
            <p class="mt-5">Nome do projeto / logo</p>
            <v-spacer />
            <v-btn
                icon
                @click.stop="rightDrawer = !rightDrawer"
                v-if="$vuetify.breakpoint.smAndDown"
            >
                <v-icon>mdi-menu</v-icon>
            </v-btn>
            
            <v-btn v-else v-for="(item, i) in items" outlined :key="i" small class="ml-3" color="primary">{{item.title}}</v-btn>
                
            
        </v-app-bar>
        <v-navigation-drawer
            v-model="rightDrawer"
            :right="right"
            temporary
            fixed
        >
            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    :to="item.to"
                    router
                    exact
                    class="mx-3 mb-2 primary white--text"
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title" />
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            clipped: false,
            drawer: false,
            fixed: false,
            items: [
                {
                    icon: "mdi-apps",
                    title: "Item 1",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 2",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 3",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 4",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 5",
                    to: "/"
                }
            ],
            miniVariant: false,
            right: true,
            rightDrawer: false,
            title: "Vuetify.js"
        };
    }
};
</script>
