<template>
    <v-card>
        <div v-if="!tipo">
            <v-card-title class=" text-center">
                <v-layout row wrap>
                    <v-flex xs12 class="text-xs-center">
                        <p class="primary--text">O que você procura?</p>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-card-text>
                <v-btn block class="mb-5" color="primary" @click="tipo = 'Doador'"
                    >Quero Doar</v-btn
                >
                <v-btn block outlined color="primary" @click="tipo = 'Receptor'"
                    >Preciso de uma doação</v-btn
                >
            </v-card-text>
        </div>
        <div v-else>
            <v-card-title class=" text-center pb-0">
                <v-layout row wrap>
                    <v-flex xs12 class="text-xs-center">
                        <p class="primary--text">O que você procura?</p>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-card-text>
                <v-text-field hide-details name="name" label="Email"  />
                <v-text-field hide-details type="password" name="name" label="Senha" />
                <v-text-field hide-details type="password" name="name" label="Confirme a senha" />
            </v-card-text>
            <hr class="mx-5 my-3 primary">
            <v-card-actions>
                <v-btn block outlined color="primary" @click="cadastrar()"
                    >cadastrar</v-btn
                >
            </v-card-actions>
        </div>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            tipo: null
        };
    },
    methods: {
        cadastrar() {
            alert('requisição cadastro')
            if(this.tipo == 'Doador') this.$router.push({name: 'cadastro-doador'})
            else this.$router.push({name: 'cadastro-receptor'})
        }
    }
};
</script>
