<template>
    <v-app>
        <v-content>
            <v-container>
                <nuxt />
            </v-container>
        </v-content>
        <v-footer :fixed="fixed" app>
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            clipped: false,
            drawer: false,
            fixed: false,
            items: [
                {
                    icon: "mdi-apps",
                    title: "Item 1",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 2",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 3",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 4",
                    to: "/"
                },
                {
                    icon: "mdi-chart-bubble",
                    title: "Item 5",
                    to: "/"
                }
            ],
            miniVariant: false,
            right: true,
            rightDrawer: false,
            title: "Vuetify.js"
        };
    }
};
</script>
