<template>
    <v-layout column justify-center align-center>
        <MenuInicio />
        <v-flex xs12 sm10>
            <v-card>
                <v-card-title class="headline">
                    Bem Vindo - Causa
                </v-card-title>
                <v-card-text>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quos quia voluptates aspernatur, necessitatibus nemo
                        doloribus, totam quas sit delectus eum esse minima vel
                        est quam impedit, blanditiis fugiat iure accusamus.
                    </p>
                    <hr class="my-3" />
                </v-card-text>
                <v-card-actions class="justify-center">
                    <v-btn :block="$vuetify.breakpoint.xsOnly" color="primary" nuxt @click="tipo_usuario = true">
                        Cadastre-se
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
		<v-dialog
			v-model="tipo_usuario"
			scrollable 
			:overlay="false"
			max-width="500px"
			transition="dialog-transition"
		>
			<ModalTipoUsuario />
		</v-dialog>
    </v-layout>
</template>

<script>

import MenuInicio from "~/components/MenuInicio.vue";
import ModalTipoUsuario from "~/components/ModalTipoUsuario.vue";

export default {
    components: {
		MenuInicio,
		ModalTipoUsuario
	},
	data() {
		return{
			tipo_usuario: false
		}
	}
};
</script>
